/* Base Layout */
.album-page-main {
    background-color: #001830;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-top: 60px;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    width: 1236px;
}

/* Album Grid */
.album-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 35px;
    background-color: #001830;
}

/* Album Item */
.album-item {
    width: 150px;
    height: 165px; /* Tinggi lebih untuk text */
    background-color: #002b4d; 
    padding: 10px;
    justify-content: center;
    justify-items: center;
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
}

/* Album Cover */
.album-cover img {
    width: 140px;
    height: 140px;
    margin: auto;
    object-fit: cover;
}

/* Album Link */
.album-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.album-item:hover {
    transform: scale(1.05); /* Menambahkan efek hover */
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    width: 1236px;
    gap: 5px;
    background-color: #001830;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
}

.pagination-button {
    background-color: #002b4d;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.pagination-button:hover {
    background-color: #003666;
}

.pagination-button.active {
    background-color: #004480;
}