/* MusicPage Styling */
.music-page-main {
    background-color: #0e3a5e;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
    margin-left: 180px;  /*Memberikan ruang untuk sidebar */
    margin-top: 60px;  /* Memberikan ruang untuk navbar */
    box-sizing: border-box;
  }
  
  .music-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .music-item {
    background-color: #1b4d73;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
  }
  
  .music-thumbnail {
    width: 100%;
    height: 100px;
    background-color: #d3d3d3;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  /* Pagination */
  .pagination {
    text-align: center;
  }
  
  .pagination-button {
    background-color: #1b4d73;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination-button:hover {
    background-color: #14506e;
  }
  